<style>
h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    
}  
ul {
    background-color: red;
}
.Classe {
    background-color: rebeccapurple;
}
p {
    font-weight: 600;
    font-size: 3em;
}
body {
    font-size: 16px;
}
.Amarelo {
    background-color: yellow;
}
.Vermelho {
    background-color: red;
}
.Marrom {
    background-color: saddlebrown;
}

</style>